*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: rgb(92, 226, 148);
     }

h1 {
    margin-top: 1em;
   text-align: center;
   color: rgb(112, 108, 108);
    }

 h4 {
    text-align: center;
    color: rgb(112, 108, 108);
        }

.caja-img {
 margin: 3em auto;
 background-color: rgb(228, 243, 172);
 width: 550px;
 height: 460px;
 border: 2px solid rgb(247, 250, 223);
 border-radius: 20px;
}

img {
    margin-top: 1em;
    margin-left: 7.9em;
    width: 300px;
    height: 270px;
   }
   .caja-conversor{
    margin: 1em auto;
    background-color: white;
    border-radius: 20px;
    width: 380px;
    height: 110px;
    border: 2px solid rgb(224, 221, 221);
   }

   #enviar {
   background-color: rgb(134, 225, 241);
   border: none;
   padding: .3em;
  margin-left: 12em;
  margin-top: .5em;
  border-radius: 30px;
  width: 100px;
   }

   form{
   margin-left: 3em;
   margin-top: .7em;
    }

    input{
        width: 110px;
        height: 15px;
        border-radius: 20px;
        padding: 1em;
         }